@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #dfdcdc;
    position: relative;
}
.project-head-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.project-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}
#searchNote{
    height: 40px;
    width: 100%;
    margin: 5px;
    background-color: #f0f8ff91;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 20px;
}
.tool-error-border{
    border: 2px solid #ff0000;
}
.project-content{
    width: 100%;
    padding: 10px;
}
.project-heading{
    font-size: 30px;
}
.tool-error-message{
    display: block;
    color: #ff0000;
    font-size: 11px;
    font-style: italic;
    font-weight: 800;
    margin: 5px 0 0 5px;
    position: absolute;
    bottom: -15px;
    left: 0px;
}
.btn-project{
  display: block;
  border: none;
  background-color: #008000;
  color: #ffffff;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  min-width: 65px;
  box-shadow: #0000003d 0px 3px 8px;
}
.modal-buttons{
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    transition: .4s;
    background: #008000;
}
#noteAddModal{
    height: 100vh;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
}
.noteAddModal{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    transition: .4s;
}
.modal-box{
    width: 500px;
    padding: 10px;
    padding-top: 30px;
    background: #f0f0e4;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}
.modal-box h2{
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
#closeModal{
    padding: 12px 15px 0 0;
    border: none;
    background: transparent;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}
#selectedID{
    display: none;
}
#closeModal i{
    cursor: pointer;
    font-size: 25px;
    transition: .2s;
}
#closeModal i:hover{    
    color: red;
}
.modal-input-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.modal-input-label{
    font-size: 25px;
    margin: 5px;
}
.modal-input{
    height: 40px;
    width: 100%;
    background-color: #f0f8ff91;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 20px;
}
#noteText{
    width: 100%;
    resize: none;
    background-color: #f0f8ff91;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 20px;
}
#btnSaveNote, #btnUpdateNote{
    background-color: #008000cc;
    margin: 0;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    letter-spacing: 1px;
}
#btnSaveNote:hover,#btnUpdateNote:hover{
    background-color: #008000;
}
#localStorageEmptyMessage{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.content-sticky-note{
    position: relative;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    flex-wrap: wrap;
    background-color:transparent;
}
.btn-add-note{
    margin: 5px;
    width: 200px;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 25px;
}
.body-heading-buttons{
  display: flex;
}
.body-heading{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.modal-input-items{
    position: relative;
}
.note-item{
    display: flex;
    height: 300px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: #c0c054;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    transition: .4s;
    position: relative;
}
.note-item:hover .btn-note-delete,.note-item:hover .btn-note-edit{
    display: block;
}
.btn-note-delete{
    position: absolute;
    display: none;
    top: 20px;
    right: -15px;
    color: black;
    background: transparent;
    font-size: 20px;
    box-shadow: none;
    margin: 0;
    padding: 0;
    transition: .05s;
}
.btn-note-edit{
    position: absolute;
    display: none;
    bottom: 20px;
    right: 10px;
    color: black;
    background: transparent;
    font-size: 20px;
    box-shadow: none;
    margin: 0;
    padding: 0;
    transition: .05s;
}
#stickyNoteId{
    display: none;
}
.btn-note-edit:hover{
    color: #2c2cd4;
}

.btn-note-delete:hover{
    color: #ff0000;
}
.noteTitle{
    width: 260px;
    overflow-wrap: break-word;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom:10px ;
}
.mote-title-underline{
    width: 100%;
    height: 2px;
    background: #000000;
    margin-bottom: 10px;
}
.note-body{
    width: 100%;
    word-wrap: break-word;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 25px;
    font-style: oblique;
    overflow-y: scroll;
}
.note-body::-webkit-scrollbar {
    display: none;
}
#noteColor{
    padding: 0;
    border: 0;
    cursor: pointer;
}